<!DOCTYPE html>
<html>
<head>
  <title>Lero</title>
  <%= stylesheet_link_tag    "lero/application", :media => "all" %>
  <%= javascript_include_tag "lero/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
